html {

}

body {
  margin: 0;
}

p, h1, h2, h3, li, a {
  color: #25292C;
  font-family: Arial, sans-serif;
}

/* _______________Header_________________*/

nav {
  padding: 1em;
  display: flex;
}

.topHeader {
  background-color: #E9ECF1;
}

.left {
  flex: 1;
  text-align: left;
}

.right {
  flex: 1;
  text-align: right;
}

.navBar {
  text-decoration: none;
  padding: 8px;
}

#more {
  color: grey;
}

#tryIt {
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #3F9BF8;
  color: white;
}

#signIn {
  border: 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}
/*____________section features____________*/

.features {
  background-color: #E9ECF1;
}

.featuresHeader {
  margin: 0 auto;
  width: 80%;
  font-size: 1.875em;
  text-align: center;
}

.featuresHeader h1 {
  margin-top: 0;
  padding-top: 37.5px;
  font-weight: 100;
  padding-bottom: 15px;
}

.featuresContainer {
  display: flex;
  justify-content: center;
  background-color: #434555;
  border: 1px solid black;
}

.featuresContainer h3 {
  color: white;
  font-size: 1.25em;
  padding-top: 10px;
}

.featuresContainer p {
  color: #ABAEB3;
  width: 80%;
  margin: auto;
  line-height: 1.5;
  font-size: 1em;
}

.block {
  width: 320px;
  height: 350px;
  text-align: center;
}

.task {
  border-right: 1px solid;
}

.block img {
  position: relative;
  top: 20px;
}

.team {
  border-right: 1px solid;
}

.time {
  border-right: 1px solid;
}

.featBottom {
  text-align: center;
}

.featText {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  padding: 50px;
  padding-top: 40px;
  font-family: Georgia;
  line-height: 1.5;
  max-width: 700px;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #3F9BF8;
  font-size: 1.25em;
  padding: 0.65em 2em 0.65em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.small {
  width: 50%;
  margin: 1.8em auto;
  font-size: 0.9em;
  text-align: center;
}

.computer {
  width: 63%;
  margin: auto;
}

.computerDiv {
  padding-top: 2em;
  background: transparent url(img_activecollab/deco-icons-hero.svg) no-repeat 50% 50%;
  background-size: 1610px 250px;
}

/*______________section pricing_______________*/

.pricing {
}

.pricingTop h2 {
  width: 40%;
  margin: 0.5em auto;
  text-align: center;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 400;
  color: #202528;
  padding-top: 50px;
}

.pricingTop p {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  max-width: 700px;
  font-family: Georgia;
  line-height: 1.5;
}

.pricingBottom {
  display: flex;
  justify-content: center;
}

.pricingLeft {
  width: 350px;
  text-align: center;
  padding: 35px 5px;
  margin-top: 40px;
  margin-bottom: 100px;
  border-right: 1px solid #E0E0E0;
}

.pricingLeft ul {
  list-style-type: none;
  padding-left: 0;
}

.pricingLeft h3 {
  font-size: 1.55em;
  line-height: 1.3;
  margin: 0.5em 0;
  font-weight: 400;
}

.pricingRight {
  width: 350px;
  text-align: center;
  padding: 35px 5px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.pricingRight ul {
  list-style-type: none;
  padding-left: 0;
}

.pricingRight h3 {
  font-size: 1.55em;
  line-height: 1.3;
  margin: 0.5em 0;
  font-weight: 400;
}

.pricingLeft li {
  font-size: 1.20em;
  font-family: Georgia;
  line-height: 1.5;
}

.pricingRight li {
  font-size: 1.20em;
  font-family: Georgia;
  line-height: 1.5;
}

.smallbutton {
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
  background-color: #3F9BF8;
  font-size: 0.9375em;
  padding: 0.45em 1.25em 0.45em;
  margin: 5px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.italic {
  font-size: 1.25em;
    font-style: italic;
    margin-top: 1em;
    font-family: Georgia;
}

/*__________section partners__________*/

.partners {
  text-align: center;
  background-color: #E9ECF1;
  border: 1px solid #D3D3D3;
}

.partners h2 {
  width: 40%;
  margin: auto;
  margin-top: 70px;
  text-align: center;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 400;
  color: #202528;
}

.partners p {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  font-family: Georgia;
  line-height: 1.5;
}

/* .partnersList {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
} */

.partners img {
  padding: 20px 60px 60px 80px;
}

/*___________________section getStarted_________________*/

.getStarted {
  width: 70%;
  margin: auto;
  text-align: center;
}

.getTop h2 {
  font-size: 2.625em;
  font-weight: 400;
  padding: 50px 0 20px 0;
  margin: 0;
}

.getTop p {
  width: 50%;
  margin: auto;
  font-size: 1.3125em;
  font-family: Georgia;
  line-height: 1.5;
  padding-bottom: 35px;
}

.getForm {
  border: 1px solid grey;
  border-radius: 3px;
  width: 480px;
  margin: auto;
  background-color: #E9ECF1;
}

.theForm {
  text-align: left;
  width: 88%;
  margin: auto;
}

.theForm p {
  margin-top: 30px;
  margin-bottom: 3px;
}

.inputForm {
  padding: 0.7em 13em 0.7em 0.9em;
  border: 1px solid grey;
  color: grey;
  font-size: 1em;
  border-style: solid;
  border-radius: 3px;
}

.password {
  margin-bottom: 35px;
}

.formBottom p {
  margin: 15px auto 35px auto;
}

.formBottom .smallbutton {
  padding: 0.55em 1.20em 0.55em;
}

.safe {
  color : grey;
  font-size: 0.9em;
  margin-top: 30px;
  margin-bottom: 0;
}

.security {
  font-size: 0.9em;
  color: grey;
  text-decoration: underline;
  margin-top: 4px;
  padding-bottom: 90px;
}

/*________________footer_________________*/

footer {
  background-color: #434555;
}

.listFooter {
display: flex;
justify-content: center;
padding: 20px 40px;
}

.list {
  font-family: Arial;
  line-height: 2;
  list-style-type: none;
  font-size: 0.9em;
  padding: 20px;
}

.list a {
  text-decoration: none;
  color: white;
  padding: 0;
}

.listHead {
  color: white;
  opacity: 0.5;
}

.footerBottom {
  text-align: center;
}

.SocialIcon {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.SocialIcon li {
  padding: 7px;
}

.happy {
  color: #B0B2BD;
  font-size: 0.9em;
  margin-bottom: 5px;
  padding-top: 10px;
}

.copyright {
  color: #B0B2BD;
  font-size: 0.9em;
  margin-top: 5px;
  padding-bottom: 50px;
}
