body {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  background-image:
    url("https://www.google.be/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"),
    linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #1F1E1E;
  line-height: 1.5;
  margin-left: 10px;
}

main {
  position: relative;
  border : 2px solid blue;
}

main img {
  float: left;
  margin: 15px 30px;
}

footer {
  border: 3px solid red;
}

a:hover {
  color: green;
}

a:visited {
  color: red;
}

blockquote {
  font-style: italic;
  max-width: 50%;
  margin: 80px auto;
  font-size: 160%;
  background-color: #F0EEEB;
  border-left: 3px solid maroon;
  padding-left: 30px;
}

.personType {
  position : relative;
  border: 1px solid black;
  height: 720px;
  margin : 10px;
}

.marsDiv {
  position : relative;
  border : 1px solid black;
  margin : 10px;
  height: 900px;
}

.chinois {
  position: relative;
  border : 1px solid black;
  margin : 10px;
  height: 1600px;
}

.fermier {
  border-left: 3px solid blue;
}

.villageois {
  border-left: 3px solid red;
}

header .jaune {
  background-color: yellow;
}

.mal {
  color: red;
  text-transform: uppercase;
}

.bien {
  color: green;
  text-transform: uppercase;
}

q {
  font-size: 160%;
  font-style: italic;
  padding: 20px;
  background-color: #F0EEEB;
}

.histoire {
  line-height: 2;
}

li {
  line-height: 4;
}

#chat {
  background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/chat.png);
  background-repeat: no-repeat;
  padding-right: 70px;
  display: inline-block;
  height: 50px;
  background-position: right;
}

#bienList {
  background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/bien.png);
  background-repeat: no-repeat;
  padding-right: 70px;
  display: inline-block;
  height: 50px;
  background-position: right;
}

#malList {
  background-image: url(https://raw.githubusercontent.com/becodeorg/lovelace-2/master/01-La-prairie/html-css/progressive-enhancement/mal.png);
  background-repeat: no-repeat;
  padding-right: 70px;
  display: inline-block;
  height: 50px;
  background-position: right;
}

tr:nth-child(odd) {
  background-color: grey;
}

tr:nth-child(even) {
  background-color: white;
}
